<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Eat-da-Burger!">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<link rel="stylesheet" href="/css/burger_style.css" type="text/css" />
		<title>Eat Da Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/burgerLogic.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
