

<div class="container center-align">

	<h1>Eat-Da-Burger!</h1>


<form class="create-form">

  <div class="form-group">
    <label for="ca">New Burger</label>
    <input type="text" id="addBurgerInput" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Enter a burger you want to eat Click the Submit Button</label><br>
  </div>

  <button id="addBurger" class="btn" type="submit">Add Burger</button>
</form>

<ul>
{{#each burgers}}
	
{{/each}}
</ul


<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.burger_name}}. {{this.devoured}}

      <button data-planid="{{this.id}}" class="delplan">Delete Plan!</button>
    </p>
  </li>
  {{/each}}
</ul>



</div>
